<!-- end Contact Area -->
<footer id="footer" class="bg-one">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-lg-12">

				<!-- Footer Social Links -->
				{{if .Site.Data.social.enable}}
				{{ range .Site.Data.social.items }}
				<div class="social-icon">
					<ul class="list-inline">
            <li><a href="{{ .URL }}"><i class="{{ .icon }}"></i></a></li>
					</ul>
				</div>
				{{ end }}
				{{ end }}

				<!-- copyright -->
				<div class="copyright text-center">
					<a href="{{ .Site.BaseURL | absURL }}">
						<img src="{{ .Param "logo" | absURL }}" alt="{{.Title}}" width="64" height="64"/> 
					</a>
					<br>

					{{ if .Param "Copyright" }} 
					<p>  
						{{ .Param "Copyright" }} 
						&copy; 
						<script>document.write(new Date().getFullYear())</script> 
						{{ .Param "CopyrightText"}}
					</p> 
					{{ end }} 
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

		<!-- Essential Scripts -->
		<script type="text/javascript" src="/plugins/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/plugins/slick-carousel/slick/slick.min.js"></script>
		<script type="text/javascript" src="/plugins/mixitup/mixitup.min.j"></script>
		<script type="text/javascript" src="/plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
		<script type="text/javascript" src="/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="/plugins/Sticky/jquery.sticky.js"></script>
		<script type="text/javascript" src="/plugins/count-to/jquery.countTo.js"></script>
		<script type="text/javascript" src="/plugins/wow/dist/wow.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
		{{- partial "netlify.html" . -}}
    </body>
</html>
