{{$en := "en"}}
<!DOCTYPE html> 
<html lang="{{.Site.Language.Lang}}" dir="{{ if eq .Site.Language.Lang $en }}ltr{{ else }}rtl{{ end }}">
  <head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{ .Param "description"}}" />
    <meta name="author" content="{{ .Param "admin"}}" />
    <title>{{ .Title }}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="/image/x-icon" href="/images/logos/favicon.ico" />
    
    <!-- CSS -->
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="/plugins/themefisher-font/style.css" />
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/plugins/animate-css/animate.css" />
    <link rel="stylesheet" href="/plugins/magnific-popup/dist/magnific-popup.css" />
    <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- google analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <!-- body start -->
  <body id="body" data-spy="scroll" data-target=".navbar" data-offset="50">
