<!-- Fixed Navigation -->
<header id="navigation" class="navbar navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- logo -->
            <a class="navbar-brand logo" href="{{ "/" | absLangURL }}">
                <img src="{{ .Site.Params.logo | absURL }}" alt="Logo" height="48" width="48"/>
            </a>
        </div>
        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="Navigation">
            {{ if .IsHome }}
                <ul id="nav" class="nav navbar-nav navigation-menu">
                    <li><a data-scroll href="#body">{{ with $.Site.Params.home }}{{ . }}{{ end }}</a></li>
                    {{ range sort .Site.Pages }}
                        {{ if .Params.menu}}
                            <li><a data-scroll href="#{{ .Section }}">{{ humanize .Name  }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            {{ else }}
                <ul id="nav" class="nav navbar-nav navigation-menu">
                    <!-- <li><a data-scroll href="{{ $.Site.BaseURL }}#body">{{ with $.Site.Params.home }}{{ . }}{{ end }}</a></li> -->
                    {{ range sort .Site.Pages }} 
                        {{ if .Params.menu}}
                            <li><a data-scroll href="{{ "/" | absLangURL }}#{{ .Section }}">{{ humanize .Section }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            {{ end }}
            <ul class="btn-group nav navbar-nav navigation-menu" role="group" aria-label="language switch">
                {{ range .Page.Translations }}
                    <li class="active"> <a class='btn btn-transparent' href="{{ .Permalink }}" rel="alternate" hreflang="{{ .Language.Lang }}" >{{ .Language.LanguageName }}</a> </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>