{{ with .Site.GetPage "/contacts" }} {{ if not .Draft }}
<section id="contacts" class="contact-us section-bg">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="title text-center wow fadeIn" data-wow-duration="500ms">
        <h2>
          {{.Title }} <span class="color">{{ .Params.subtitle }}</span>
        </h2>
        <div class="border"></div>
      </div>

      <!-- Contact Details -->
      <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
        <!-- <p>{{ .Content }}</p> -->
        <div class="contact-details">
          <div class="con-info clearfix">
            <i class="tf-phone2"></i> <span>{{ .Params.phone }}</span>
          </div>
          <div class="con-info clearfix">
            <i class="tf-ion-email"></i> <span>{{ .Params.email }}</span>
          </div>
          <div class="con-info clearfix">
            <i class="tf-ion-location"></i> <span>{{ .Params.address1 }}</span>
          </div>
          <div class="con-info clearfix">
            <i class=""></i> <span>{{ .Params.address2 }}</span>
          </div>
        </div>
      </div>

      <!-- Contact Form -->
      {{ if .Params.showForm }}
      <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
        <form name="contact" method="post" netlify>
          <div class="form-group">
            <input type="text" placeholder="{{ .Params.formName }}" class="form-control" name="name" id="name" />
          </div>

          <div class="form-group">
            <input type="email" placeholder="{{ .Params.formEmail }}" class="form-control" name="email" id="email" />
          </div>

          <div class="form-group">
            <input
              type="text"
              placeholder="{{ .Params.formSubject }}"
              class="form-control"
              name="subject"
              id="subject"
            />
          </div>

          <div class="form-group">
            <textarea
              rows="6"
              placeholder="{{ .Params.formMessage }}"
              class="form-control"
              name="message"
              id="message"
            ></textarea>
          </div>

          <!-- <div id="mail-success" class="success">{{ .Params.formSuccess }}</div> -->
          <!-- <div id="mail-fail" class="error">{{ .Params.formFailure }}</div> -->

          <div id="cf-submit">
            <input type="submit" id="contact-submit" class="btn btn-transparent" value="{{ .Params.formSubmit }}" />
          </div>
        </form>
      </div>
    </div>
  </div>
  {{ end }} {{ if .Params.showMap }}
  <!-- Google Map -->
  <div class="google-map">
    <div id="map-canvas" data-latitude="{{ .Params.mapLatitude }}" data-longitude="{{ .Params.longitude }}"></div>
  </div>
  <script type="text/javascript" src="{{ .Params.googleMapApi }}"></script>
  {{ end }}
</section>
<!-- /contact -->
{{ end }} {{ end }}
