{{ with .Site.GetPage "/cta" }} {{ if not .Draft }}
<section id="cta" class="hero-area" style='background-image: url("{{ (.Resources.GetMatch "bg.jpg").Permalink }}");'>
    <div class="block">
       <h1>{{ .Params.subtitle }}</h1>
       <p>{{ .Content }}</p> 
       {{ if .Params.action}}
        <a data-scroll href="{{ .Params.actionURL}}" class="btn btn-transparent">{{ .Params.actionText}}</a>
        {{ end }}
    </div>
</section>
{{end}}
{{end}}