{{ with .Site.GetPage "/pricing" }} {{ if not .Draft }}
<section id="pricing" class="pricing section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
                <h2>{{ .Title }}<span class="color"> {{ .Params.subtitle }}</span></h2>
                <div class="border"></div>
            </div>
            {{ range .Params.items }}
            <!-- single pricing table -->
            <div class="col-md-4 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-duration="200ms">
                <div class="price-item">
                    <!-- plan name & value -->
                    <div class="price-title">
                        <h3>{{ .title }}</h3>
                        {{ range .prices }}
                        <p><strong class="value">{{ .price }}</strong> / {{ .period }}</p>
                        {{ end }}
                    </div>
                    <!-- plan description -->
                    <ul>{{ range .features }}<li>{{ .feature }}</li>{{ end }}</ul>
                    <!-- signup button -->
                    <a class="btn btn-transparent" href="{{ .actionURL }}">{{ .actionText }}</a>
                </div>
            </div>
            <!-- end single pricing table -->
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}