{{ with .Site.GetPage "/services" }} {{ if not .Draft }}
<section id="services" class="bg-one section">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="title text-center wow fadeIn" data-wow-duration="500ms">
        <h2>
          {{ .Title }}<span class="color">{{ .Params.subtitle }}</span>
        </h2>
        <div class="border"></div>
      </div>
      {{ range.Params.items }}
      <!-- Single Service Item -->
      <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
        <div class="service-block text-center">
          <div class="service-icon text-center"><i class="{{ .icon }}"></i></div>
          <h3>{{ .title }}</h3>
          <p>{{ .text }}</p>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }} {{ end }}
