{{ with .Site.GetPage "/team" }} {{ if not .Draft }}
<section id="team" class="section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
                <h2>{{ .Title }} <span class="color">{{ .Params.subtitle }}</span></h2>
                <div class="border"></div>
            </div>
            <!-- team member -->
            {{ range .Params.items }}
            <div class="col-md-3 col-sm-6 col-xs-12  wow fadeInDown" data-wow-duration="500ms">
                <div class="team-member">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-responsive" src="{{ (($.Site.GetPage "/team").Resources.GetMatch .image).Permalink }}" alt="{{ .name }}">
                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="list-inline">
                                {{ with .facebook }}
                                <li><a href="https://facebook.com/{{.}}" target="_blank"><i class="tf-ion-social-facebook"></i></a></li>
                                {{ end }}
                                {{ with .twitter }}
                                <li><a href="https://twitter.com/{{.}}" target="_blank"><i class="tf-ion-social-twitter"></i></a></li>
                                {{ end }}
                                {{ with .linkedin }}
                                <li><a href="https://linkedin.com/{{.}}" target="_blank"><i class="tf-ion-social-linkedin"></i></a></li>
                                {{ end }}
                                {{ with .youtube }}
                                <li><a href="https://youtube.com/{{.}}" target="_blank"><i class="tf-ion-social-youtube"></i></a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>

                    <!-- member name & designation -->
                    <div class="member-meta">
                        <h4>{{ .name }}</h4>
                        <span>{{ .designation }}</span>
                        <p>{{ .description }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}